node_modules
*.log
.idea
*.iml
*.sw*
!.swcrc
dist
*.DS_Store
.cache
junit.xml
test-results
/repros
/sandbox
/bench
/code/bench
.verdaccio-cache
.next
/.npmrc
tsconfig.vitest-temp.json

node_modules
.nuxt